

.wrapper{

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    .logo_wrapper{
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      background: #59afff;
      border-radius: 8px;

      .logo_text{
        flex-grow: 1;
        font-weight: 700;
        font-size: 20px;
        color: white ;
      }
    }
    .image{
      max-width: 200px;
      height: 50px;
    }

    .submitButton{
      height: 35px;
      background-color: #59afff;
      color: #fff;
      width: 100%;
    }
  }
}